In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv(r'..\data\player_stats.csv')
df.head()

,Unnamed: 0,match_id,game_id,team,score_team,opponent,score_opp,win_lose,map,map_pick,...,rating,acs,kill,death,assist,kast%,adr,hs%,fk,fd
0,0,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,1.19,239,15,11,6,72%,146,16%,1,0
1,1,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.84,234,15,14,6,61%,145,32%,1,4
2,2,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.68,173,10,15,2,67%,123,18%,4,2
3,3,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.63,142,8,15,4,83%,92,29%,3,2
4,4,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.57,114,7,16,8,61%,63,13%,0,1

In [21]:
df.columns

Index(['Unnamed: 0', 'match_id', 'game_id', 'team', 'score_team', 'opponent',
       'score_opp', 'win_lose', 'map', 'map_pick', 'player_id', 'player',
       'agent', 'rating', 'acs', 'kill', 'death', 'assist', 'kast%', 'adr',
       'hs%', 'fk', 'fd'],
      dtype='object')

In [22]:
df = df[['player', 'agent','map', 'kill', 'assist', 'death', 'kast%']]
df.head()

      player    agent     map  kill  assist  death kast%
0        Laz     sova  Ascent    15       6     11   72%
1      TENNN  killjoy  Ascent    15       6     14   61%
2        Dep     jett  Ascent    10       2     15   67%
3       crow     kayo  Ascent     8       4     15   83%
4  SugarZ3ro     omen  Ascent     7       8     16   61%

In [23]:
df.nunique()

player    197
agent      21
map         8
kill       37
assist     29
death      32
kast%      71
dtype: int64

In [26]:
df['agent'].unique()

array(['sova', 'killjoy', 'jett', 'kayo', 'omen', 'viper', 'skye',
       'harbor', 'fade', 'astra', 'breach', 'raze', 'phoenix', 'yoru',
       'cypher', 'sage', 'brimstone', 'neon', 'gekko', 'reyna', 'chamber'],
      dtype=object)

In [9]:
df1 = df.groupby(['player', 'agent', 'map'], as_index=False).sum()
df1

      player      agent       map  kill  assist  death                  kast%
0        2ge      astra    Ascent    10      15     15                    87%
1        2ge      astra     Haven    88      62     83  74%82%86%86%85%93%68%
2        2ge      astra     Lotus    14       9      5                    93%
3        2ge  brimstone  Fracture    14       6     14                    68%
4        2ge     harbor    Icebox    13       6     11                    70%
...      ...        ...       ...   ...     ...    ...                    ...
1930  zekken       skye     Lotus    22       6     16                    78%
1931  zekken       skye     Split    23      12     17                    77%
1932  zekken       sova    Ascent    43      19     28                 73%88%
1933  zekken       sova    Icebox    12       2     15                    67%
1934  zekken       sova     Pearl    11       8     13                    65%

[1935 rows x 7 columns]

In [10]:
df1.isna().sum()

player    0
agent     0
map       0
kill      0
assist    0
death     0
kast%     0
dtype: int64

In [11]:
print(df1)

      player      agent       map  kill  assist  death                  kast%
0        2ge      astra    Ascent    10      15     15                    87%
1        2ge      astra     Haven    88      62     83  74%82%86%86%85%93%68%
2        2ge      astra     Lotus    14       9      5                    93%
3        2ge  brimstone  Fracture    14       6     14                    68%
4        2ge     harbor    Icebox    13       6     11                    70%
...      ...        ...       ...   ...     ...    ...                    ...
1930  zekken       skye     Lotus    22       6     16                    78%
1931  zekken       skye     Split    23      12     17                    77%
1932  zekken       sova    Ascent    43      19     28                 73%88%
1933  zekken       sova    Icebox    12       2     15                    67%
1934  zekken       sova     Pearl    11       8     13                    65%

[1935 rows x 7 columns]

In [12]:
df1 = df1[df1['map'] == 'Ascent']
df1

      player  agent     map  kill  assist  death                     kast%
0        2ge  astra  Ascent    10      15     15                       87%
6        2ge   omen  Ascent    79      63     66              88%78%80%70%
9      AAAAY   skye  Ascent    23       4     14                       76%
23     ANGE1   omen  Ascent   104      65    134  75%83%80%71%77%52%55%42%
32     AYRIN   fade  Ascent    14       6     15                       61%
...      ...    ...     ...   ...     ...    ...                       ...
1903   xnfri   kayo  Ascent    24      24     30                    75%71%
1917    zeek   sova  Ascent     8       5     15                       67%
1920    zeek  viper  Ascent    10       0     16                       37%
1922  zekken   jett  Ascent     8       3     16                       48%
1932  zekken   sova  Ascent    43      19     28                    73%88%

[258 rows x 7 columns]

In [13]:
df1['KDA'] = (df1['kill'] + df1['assist']) / df1['death']
df1

,player,agent,map,kill,assist,death,kast%,KDA
0,2ge,astra,Ascent,10,15,15,87%,1.666667
6,2ge,omen,Ascent,79,63,66,88%78%80%70%,2.151515
9,AAAAY,skye,Ascent,23,4,14,76%,1.928571
23,ANGE1,omen,Ascent,104,65,134,75%83%80%71%77%52%55%42%,1.261194
32,AYRIN,fade,Ascent,14,6,15,61%,1.333333
...,...,...,...,...,...,...,...,...
1903,xnfri,kayo,Ascent,24,24,30,75%71%,1.600000
1917,zeek,sova,Ascent,8,5,15,67%,0.866667
1920,zeek,viper,Ascent,10,0,16,37%,0.625000
1922,zekken,jett,Ascent,8,3,16,48%,0.687500
1932,zekken,sova,Ascent,43,19,28,73%88%,2.214286

In [14]:
valorant = pd.pivot_table(df1, index='player', columns='agent', values='KDA', fill_value=0)
valorant

agent,astra,breach,cypher,fade,gekko,harbor,jett,kayo,killjoy,omen,phoenix,raze,reyna,sage,skye,sova,viper
player,,,,,,,,,,,,,,,,,
2ge,1.666667,0.0,0.0,0.000000,0.0,0.0,0.0000,0.0,0.000000,2.151515,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000
AAAAY,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1.928571,0.000000,0.000
ANGE1,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0000,0.0,0.000000,1.261194,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000
AYRIN,0.000000,0.0,0.0,1.333333,0.0,0.0,0.0000,0.0,0.894737,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000
Alfajer,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0000,0.0,1.583333,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xffero,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.455556,0.000
xms,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0000,0.0,1.017857,1.700000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000
xnfri,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0000,1.6,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000
zeek,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.866667,0.625
zekken,0.000000,0.0,0.0,0.000000,0.0,0.0,0.6875,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,2.214286,0.000

In [18]:
kda = []

for i in valorant.columns:
  data = input(f'Enter the your KDA for {i}: ')
  kda.append(data)

print(kda)

['0', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1']

In [19]:
from scipy.stats import pearsonr
from sklearn.metrics.pairwise import cosine_similarity

# Define a function to calculate similarity using Pearson correlation coefficient
def pearson_similarity(x, y):
    corr, _ = pearsonr(x, y)
    return corr

# Choose the similarity function: pearson_similarity or cosine_similarity_wrapper
similarity_function = pearson_similarity  # Change this to cosine_similarity_wrapper for Cosine similarity

# Calculate similarity between user's KDA profile and other players' KDA profiles
similarities = valorant.apply(lambda row: similarity_function(row, pd.Series(map(float, kda))), axis=1)

# Find the top 5 most similar players
similar_players = similarities.nlargest(6)[1:]  # Exclude the user itself

# Get the stats of those 5 similar players
similar_players_stats = df1[df1['player'].isin(similar_players.index)]

# Sort the agents according to their KDA among those similar players
sorted_agents = similar_players_stats.groupby('agent')['KDA'].max().nlargest(5)

# Print the recommended agents
print("Top Recommended Agents based on Similar Players' Performance (Sorted by KDA):")
recommended_agents = []
for agent, kda in sorted_agents.items():
    if len(recommended_agents) >= 5:
        break
    if agent not in recommended_agents:
        recommended_agents.append(agent)
        print(f"{agent}: {kda:.2f}")

Top Recommended Agents based on Similar Players' Performance (Sorted by KDA):
fade: 1.96
cypher: 1.94
killjoy: 1.50
sova: 1.35
omen: 1.33